@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  font-family: Poppins, sans-serif;
}

input,
button,
textarea,
select,
html,
body {
  font-family: Poppins, sans-serif;
}

#root,
#__next {
  isolation: isolate;
}

.appContainer {
  background: $gray-color-600;

  height: 100vh;
  width: 100vw;
}
