@import "../../styles/colors.scss";

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  .modalContainer {

    animation: fadeIn 0.2s ease-in-out;
    background: $gray-color-400;
    color: $gray-color-100;
    border-radius: 20px;
    
    header {
      text-align: center;
    }

    main {
    }

    footer {
      .newGameButton {
        background: $red-color-100;
        color: $white-color;
        border: none;

        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1;

        border-radius: 20px;

        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
          height: 1rem;
        }
      }
    }
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}