@import "../../styles/colors.scss";

.headerContainer {
  color: $gray-color-100;

  padding: 1.5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .loginButton {
    background: $red-color-100;
    color: $white-color;

    padding: 0.7rem 1rem;

    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 15px;
    line-height: 1;

    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }
}