@import '../../styles/colors.scss';

.squareButton {
  background: $gray-color-400;

  height: 22vh;
  border-radius: 15px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: filter 0.2s;

  &:not(:disabled):hover {
    filter: brightness(1.2);
  }

  .symbol {
    height: 50%;
    line-height: 1;
  }
}